// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true !default;
$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  true !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;
